{% extends "base_generic.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'colors.css' %}" type="text/css">
<title>Вход</title>
{% endblock %}

{% block content %}
    <main>
        {% for key, value in form.errors.items %}
            <h1>{{ value }}</h1>
        {% endfor %}
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <h2>Вход</h2>
            <input placeholder="Логин" required autocomplete="username" autofocus name="username">
            <input type="password" placeholder="Пароль" required autocomplete='current-password' name="password">
            <button type="submit">Войти</button>
            <p>Или</p>
            <a href="">Создать новый аккаунт</a>
        </form>
    </main>
{% endblock %}
